extends ../layouts/default

block head
	- pageTitle = 'Числовые методы';

block content
	.index
		a.index__link(href='lab1.html') Лабораторная работа №1
		a.index__link(href='lab2.html') Лабораторная работа №2
		a.index__link(href='lab3.html') Лабораторная работа №3
		a.index__link(href='lab7.html') Лабораторная работа №7

		.index__author
			| Выполнил Антон Берсенёв, ВМИ-201
	//include ../blocks/main
