extends ../layouts/default

block head
	- pageTitle = 'Лабораторная 2';

block content
	+script(['lab2.js'])

	.lab-title 
		| Лабораторная работа №2:
		br
		| Итерационные методы решения систем линейных уравнений

	.lab2
		input.lab2-input(data-row=0 data-col=0 value=-0.32)
		input.lab2-input(data-row=0 data-col=1 value=-1.27)
		input.lab2-input(data-row=0 data-col=2 value=0.27)
		input.lab2-input(data-row=0 data-col=3 value=-0.18)
		input.lab2-input(data-row=0 data-col=4 value=-0.36)
		br
		input.lab2-input(data-row=1 data-col=0 value=0.45)
		input.lab2-input(data-row=1 data-col=1 value=-1.23)
		input.lab2-input(data-row=1 data-col=2 value=0.06)
		input.lab2-input(data-row=1 data-col=3 value=0)
		input.lab2-input(data-row=1 data-col=4 value=0.88)
		br
		input.lab2-input(data-row=2 data-col=0 value=0.31)
		input.lab2-input(data-row=2 data-col=1 value=0.08)
		input.lab2-input(data-row=2 data-col=2 value=-0.77)
		input.lab2-input(data-row=2 data-col=3 value=-1.12)
		input.lab2-input(data-row=2 data-col=4 value=0.55)
		br
		input.lab2-input(data-row=3 data-col=0 value=0.05)
		input.lab2-input(data-row=3 data-col=1 value=-0.26)
		input.lab2-input(data-row=3 data-col=2 value=-0.34)
		input.lab2-input(data-row=3 data-col=3 value=-1.12)
		input.lab2-input(data-row=3 data-col=4 value=1.17)
		br
		button.lab2-btn.js-btn start