extends ../layouts/default

block head
	- pageTitle = 'Лабораторная 2';

block content
	+script(['lab2.js'])

	.lab-title 
		| Лабораторная работа №2:
		br
		| Итерационные методы решения систем линейных уравнений

	.lab2
		input.lab2-input(data-col=0 value=-0.36)
		input.lab2-input(data-col=1 value=0.88)
		input.lab2-input(data-col=2 value=0.55)
		input.lab2-input(data-col=3 value=1.17)
		input.lab2-input(data-col=4 value=51)
		br
		br
		button.lab2-btn.js-btn start