extends ../layouts/default

block head
	- pageTitle = 'Лабораторная 3';

block content
	+script(['lab3.js'])

	.lab-title 
		| Лабораторная работа №3:
		br
		| Решение нелинейных уравнений

	.lab2
		span x1 = 
		input.js-x1(value=-1.15)
		br
		span x2 =
		input.js-x2(value=0.65)
		br
		br
		.lab2-log.js-log
		button.lab2-btn.js-btn start