extends ../layouts/default

block head
	- pageTitle = 'Лабораторная 5';

block content
	+script(['lab5.js'])

	.lab-title 
		| Лабораторная работа №5:
		br
		| Интерполирование алгебраическими многочленами

	.lab5

		
		span x1=
		input.js-x1(value=1.45)
		span x2=
		input.js-x2(value=1.36)
		span x3=
		input.js-x3(value=1.14)
		br
		span y1=
		input.js-y1(value=3.14)
		span y2=
		input.js-y2(value=4.15)
		span y3=
		input.js-y3(value=5.65)
		
		br
		button.js-start Start

		br
		.js-log